<div
  class="flex flex-col relative h-full justify-center items-center m-16 mx-32 border border-cyan-500 dark:border-lime-400 rounded text-lg"
>
  <h1 class="mb-14 font-semibold text-6xl absolute top-6">
    Sign up
  </h1>
  {{#if message}}
    <div class="text-red-600 font-semibold text-xl">
      {{message}}
    </div>
  {{/if}}
  <form action="/account/register" method="post" class="w-1/3">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <label class="flex justify-between my-6">
      <div>Your name:</div>
      <input
        type="text"
        required
        name="name"
        minlength="2"
        maxlength="50"
        class="dark:bg-black dark:text-white border border-cyan-400 dark:border-lime-400 focus:outline outline-cyan-400 dark:outline-lime-400 focus:ring-2 ring-cyan-400 dark:ring-lime-400 rounded px-2"
      />
    </label>
    <label class="flex justify-between my-6">
      <div>Your surname:</div>
      <input
        type="text"
        required
        name="surname"
        minlength="2"
        maxlength="50"
        class="dark:bg-black dark:text-white border border-cyan-400 dark:border-lime-400 focus:outline outline-cyan-400 dark:outline-lime-400 focus:ring-2 ring-cyan-400 dark:ring-lime-400 rounded px-2"
      />
    </label>
    <label class="flex justify-between my-6">
      <div>Your nick:</div>
      <input
        type="text"
        required
        name="nick"
        minlength="4"
        maxlength="30"
        class="dark:bg-black dark:text-white border border-cyan-400 dark:border-lime-400 focus:outline outline-cyan-400 dark:outline-lime-400 focus:ring-2 ring-cyan-400 dark:ring-lime-400 rounded px-2"
      />
    </label>
    <label class="flex justify-between my-6">
      <div>Your email:</div>
      <input
        type="email"
        required
        name="email"
        minlength="4"
        maxlength="50"
        class="dark:bg-black dark:text-white border border-cyan-400 dark:border-lime-400 focus:outline outline-cyan-400 dark:outline-lime-400 focus:ring-2 ring-cyan-400 dark:ring-lime-400 rounded px-2"
      />
    </label>
    <label class="flex justify-between my-6">
      <div>Your password:</div>
      <input
        type="password"
        required
        name="password"
        minlength="10"
        maxlength="50"
        class="dark:bg-black dark:text-white border border-cyan-400 dark:border-lime-400 focus:outline outline-cyan-400 dark:outline-lime-400 focus:ring-2 ring-cyan-400 dark:ring-lime-400 rounded px-2"
      />
    </label>
    <div class="text-center my-4">
      <input
        type="submit"
        value="Sign in"
        class="px-4 py-2 border border-cyan-400 dark:border-lime-400 rounded cursor-pointer hover:bg-gradient-to-r focus:bg-gradient-to-r from-lime-400 to-cyan-400 focus:outline outline-cyan-400 dark:outline-lime-400"
      />
    </div>
  </form>
</div>