<div class="flex flex-col h-full justify-center items-center">
  <h1 class="font-bold text-5xl">Your account has been activated, you can log in
    <a
      href="/account/login"
      class="hover:text-cyan-500 dark:hover:text-lime-400"
    >here</a></h1>
</div>