<div class="flex flex-col h-full justify-center items-center">   
    <h1 class="font-extrabold text-9xl">{{status}}</h1>
    <h2 class="font-bold text-7xl">{{message}}</h2>
    <pre class="mt-2">{{stack}}</pre>
</div>
